In [4]:
#regex import
import re

#standard ds import
import pandas as pd

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [5]:
def is_vowel(x):
    '''
    This function takes in a string
    returns true if a vowel is entered
    returns false otherwise
    '''
    regexp = r'^[aeiou]$'
    
    if re.search(regexp, x, re.IGNORECASE):
        return True
    else:
        return False

In [11]:
is_vowel('a')

True

In [18]:
is_vowel('A')

True

In [14]:
is_vowel('b')

False

In [15]:
is_vowel('Codeup')

False

In [16]:
is_vowel('apple')

False

In [17]:
is_vowel('aaa')

False

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [19]:
def is_valid_username(x):
    '''
    This function takes in a username 
    returns true if the username begins with lower case letter, 
    has less than 32 characters 
    and only contains numbers, lowercase letters or underscore
    returns false otherwise
    '''
    username_re = r'^[a-z][a-z0-9_]{1,31}$'
    if re.search(username_re, x):
        return True
    else:
        return False

In [20]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [21]:
is_valid_username('codeup')

True

In [22]:
is_valid_username('Codeup')

False

In [23]:
is_valid_username('codeup123')

True

In [24]:
is_valid_username('1codeup')

False

3. Write a regular expression to capture phone numbers. It should match all of the following:


(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309

In [27]:
def is_phone_number(x):
    '''
    This function takes in a phone number,
    requires exactly 3 digits, exactly 3 digits, and finally exactly 4 digits. 
    If it does these things, returns true
    otherwise returns false.
    '''
    if re.search(r'.*\d{,3}.*\d{3}.*\d{4}', x):
        return True
    else:
        return False

In [29]:
def is_phone_number2(string):
    phone_number_re = "(\+?\d+)?.?(\(?\d{3}\)?)?.?\d{3}.?\d{4}"
    
    return bool(re.search(phone_number_re, string))

In [30]:
#test the function
assert is_phone_number2('(210) 867 5309') == True
assert is_phone_number2('+1 210.867.5309') == True
assert is_phone_number2('867-5309') == True
assert is_phone_number2('210-867-5309') == True

In [31]:
numbers = ['(210) 867 5309',
'+1 210.867.5309',
'867-5309',
'210-867-5309',
'abc']

regexp = r'.*?\d+\D*?\d+.\d+$'

for number in numbers:
    print(re.findall(regexp, number))

['(210) 867 5309']
['+1 210.867.5309']
['867-5309']
['210-867-5309']
[]

In [32]:
#test the function
is_phone_number('(210) 867 5309')

True

In [33]:
#test the function
is_phone_number2('(210) 867 5309')

True

In [34]:
#test the function
is_phone_number('+1 210.867.5309')

True

In [35]:
#test the function
is_phone_number('867-5309')

True

In [36]:
#test the function
is_phone_number('210-867-5309')

True

4. Use regular expressions to convert the dates below to the standardized year-month-day format.


02/04/19

02/05/19

02/06/19

02/07/19

02/08/19

02/09/19

02/10/19

In [37]:
date_reg = r'(\d+)/(\d+)/(\d+)'
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])

#1st value is now 2nd
#2nd value is now 3rd 
#3rd value is now 1st
[re.sub(date_reg, r'\3/\1/\2' ,date) for date in dates]

['19/02/04',
 '19/02/05',
 '19/02/06',
 '19/02/07',
 '19/02/08',
 '19/02/09',
 '19/02/10']

In [38]:
#or another option is replace
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])

#1st value is now 2nd
#2nd value is now 3rd 
#3rd value is now 1st
#add '20' to the begginning
dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2')

/var/folders/xf/3yzy_crd6fg3jwj3r580c2dm0000gn/T/ipykernel_67641/2477542130.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  dates.str.replace(r'(\d+)/(\d+)/(\d+)', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

In [39]:
dates = ["02/04/19",
             "02/05/19",
             "02/06/19",
             "02/07/19",
             "02/08/19",
             "02/09/19",
             "02/10/19",
            ]

dates

['02/04/19',
 '02/05/19',
 '02/06/19',
 '02/07/19',
 '02/08/19',
 '02/09/19',
 '02/10/19']

In [40]:
dates = pd.Series(dates)
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [41]:
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2', regex=True)

#Option #3
regexp = r'(\d{2})/(\d{2})/(\d{2})'

In [42]:
for date in dates:
    print(re.sub(regexp, r'20\3-\1-\2' ,date))

2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10

Write a regex to extract the various parts of these logfile lines:

GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [43]:
logfile_re = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes>\d+)
\s+
"(?P<user_agent>.*)"
\s+
(?P<ip>.*)$
'''

lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])

lines.str.extract(logfile_re, re.VERBOSE)

,method,path,timestamp,http_version,status,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58